@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import 'CdshubAdministration.module.scss';
@import 'squareTiles.module.scss';

.CDSHubAdministration.ViewHomePage {

  .hero_bg {
    background: url('Images/home-page-background-image.png') no-repeat 95% top;
    background-size: cover;
    min-height: 700px;
  }

  .hero_title {
    font-size: 2.75em;
  }

  .hero_container {
    padding: 30px 90px 20px 74px;
    color: $white;
  }

  .hero_content {
    line-height: 23px;
    margin-bottom: 20px;
  }

  .tile_links {
    text-align: right;
    margin-bottom: 10px;
  }

  .tile_links ul li {
    display: inline;
    padding-left: 20px;
    color: $white;
  }

  .tile_links ul li a:link,
  .tile_links ul li a:focus {
    color: $white;
    text-decoration: none;

    &.active {
      border-bottom: 1px solid $white;
    }
  }

  .tile_links ul li a:hover,
  .tile_links ul li a:active,
  .tile_links ul li a:visited {
    color: $white;
    text-decoration: none;
    border-bottom: 1px solid $white;
  }

  ul.viewhome_nav {
    background: rgba(255,255,255,0.1);
    margin-right: 100px;
    height: 436px;
    overflow-y: auto;

    li {
      color: rgba(255,255,255,1);
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 5px;

      a {
        color: rgba(255,255,255,1);

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      &.home_nav_title {
        font-size: 1.25em;
        padding: 3px 0 2px 15px;
        font-weight: 600;
        color: $white;
        background: $blue-text;
        margin-bottom: 12px;
        border: 1px solid $darkgrey;
      }
    }
  }
}